{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'forexJournal/forex.css' %}">
{% endblock  %}

{% block title %}Journal{% endblock  %}

{% block content %}
    <section id="second-part">
        <div class="overview">
            <h1>Overview</h1>
            <button class="btnAdd show-modal">Add a new trade</button>
        </div>
        <div class="balance-modal hidden" id="Transfer">
            <h2>Please enter the amount to deposit</h2>
            <form action="set-balance" method="POST">
                <input type="number" placeholder="500.00" name="Deposit">
                <button type="submit" name="deposit">Add Funds</button>
            </form>
        </div>
        <div class="balance-modal hidden" id="Transfer2">
            <h2>Please enter the amount to Withdraw</h2>
            <form action="set-balance" method="POST">
                <input type="number" placeholder="500.00" name="Withdraw">
                <button type="submit" name="withdraw">Withdraw</button>
            </form>
        </div>
        <div class="modal hidden">
            <div class="modal-header">
                <h2>UPLOAD YOUR TRADES</h2>
                <button class="close-modal">&times;</button>
            </div>
            <form method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <label for="broker" class="broker-label">Choose your broker:</label>
                <div class="custom-dropdown">
                    <!-- Visible input to show the selected broker -->
                    <input 
                      type="text" 
                      id="broker" 
                      name="broker" 
                      placeholder="Select a broker" 
                      readonly 
                      required
                    />
                    <span id="fileName"></span>
                    <button type="button" class="dropdown-button">▼</button>
                    
                    <div class="dropdown-content">
                      <div class="dropdown-item" data-value="exness">
                        <img src="{% static 'forexJournal/images/exness-logo.png' %}" alt="Exness Logo">
                        Exness
                      </div>
                      <div class="dropdown-item" data-value="mt5">
                        <img src="{% static 'forexJournal/images/mt5-logo.jpeg' %}" alt="MetaTrader 5 Logo">
                        MetaTrader 5
                      </div>
                      <div class="dropdown-item" data-value="mt5">
                        <img src="{% static 'forexJournal/images/ftmo2.png' %}" alt="FTMO Logo">
                        FTMO
                      </div>
                    </div>
                </div>
                <div class="upload-area">
                    <label for="csvFile" class="custom-file-label">Choose Files</label>
                    <input type="file" class="custom-file-input" id="csvFile" name="csv_file">
                    <p>Copy and paste or drag and drop your files here</p>
                </div>
                <div class="buttons">
                    <button type="submit">Upload CSV</button>
                    <button type="button">Cancel</button>
                </div>
            </form>
        </div>
        <div class="modal-overlay hidden"></div>
        <section id="top-widgets">
            <div class="account">
                <div class="account-top-items">
                    <p>Gross balance</p>
                    <div class="initial-setter">
                        <button class="vertical-dots">...</button>
                        <div class="dropdown-menu" id="dropdownMenu">
                            <button class="menu-item" id="depositBtn">Deposit</button>
                            <button class="menu-item" id="withdrawBtn">Withdraw</button>
                        </div>
                    </div>
                </div>
                <h2>{{ balance }}</h2>
                <h3>
                    <span>
                        {% if percentageIncrease > 0 %}
                            {{ percentageIncrease }}%
                        {% else %}
                            {{ percentageIncrease }}%
                        {% endif %}
                        
                    </span> 
                    since last deposit
                </h3>
            </div>
            <div class="profit">
                <p>PnL</p>
                <h2>{{ profit }}</h2>
                <h3><span>{{ profitable_trades }}</span> wining trades</h3>
            </div>
            <div class="factor">
                <p>Profit factor</p>
                {% if profit_factor > 1 %}
                    <h2>{{ profit_factor }}</h2> 
                    <h3><span>Great</span> system buddy</h3>
                {% else %}
                    <h2>{{ profit_factor }}</h2>
                    <h3>keep <span>Improving</span> your system</h3>
                {% endif %}
            </div>
            <div class="trades winRate">
                <p>Win Rate</p>
                <h2>{{ win_rate }}%</h2>
                <h3><span>{{ losing_trades }}</span> lost trades</h3>
            </div>
            <div class="trades">
                <p>Total trades</p>
                <h2>{{total_trades}}</h2>
                <h3>Best Trade: <span>{{ highest_profit_value}}</span> ({{highest_profit_symbol}})</h3>
            </div>
        </section>
        <section id="second-widgets">
            <div class="chart">
                <div class="header">
                    <h1>Trades Overview</h1>
                    <div class="heading">
                        <img src="{% static 'forexJournal/images/money2.png' %}" alt="money">
                        <div class="text">
                            <p>Number of trades</p> 
                            <h2>{{ total_trades}}</h2>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="child">
                    <div class="charts-container">
                        {% if total_trades %}
                            <canvas class="my-chart"></canvas>
                        {% else %}
                            <h2>Not Enough Data</h2>
                        {% endif %}
                    </div>

                    <div class="charts-items">

                        <div class="items">
                            <div class="spec">
                                <h3><span class="dot"></span>Healthy trades</h3>
                                <p class="healthy">{{healthy_trade}}</p>
                            </div>
                            <div class="spec">
                                <h3><span class="dot2"></span>Lucky trades</h3>
                                <p class="lucky">{{lucky_trade}}</p>
                            </div>
                            <div class="spec">
                                <h3><span class="dot3"></span>Good loss</h3>
                                <p class="good_loss">{{healthy_loss}}</p>
                            </div>
                            <div class="spec">
                                <h3><span class="dot4"></span>bad trades</h3>
                                <p class="bad">{{ bad_trade }}</p>
                            </div>
                            <div class="spec">
                                <h3><span class="dot5"></span>Missed trades</h3>
                                <p class="missed">{{ Missed_trade }}</p>
                            </div>
                            <div class="spec">
                                <h3><span class="dot6"></span>Untagged trades</h3>
                                <p class="untagged">{{untagged_trades}}</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="profitable win">
                <div class="head">
                    <img src="{% static 'forexJournal/images/profits.png' %}" alt="s">
                    <p>Trade Expectancy</p>
                </div>
                <h2>{{ expectancy }}</h2>
                <h3>Net Profit: <span>{{ profitable_value }}</span></h3>
                <p>Current Streak : <span>{{ max_winning_streak }}</span> wins</p>
            </div>
            <div class="profitable">
                <div class="head">
                    <img src="{% static 'forexJournal/images/losses.png' %}" alt="">
                    <p>Average win/loss</p>
                </div>
                <h2>{{ average_win_ratio}}</h2>
                <h3>Net Loss: <span>{{ losing_value }}</span></h3>
                <p>Current Streak : <span>{{ max_losing_streak }}</span> losses</p>
            </div>
            <div class="charts">
                {% if total_trades %}
                    <canvas id="lineChart"></canvas>
                {% else %}
                    <h2>Please Upload Trades to view Chart</h2>
                {% endif %}
                
            </div>
        </section>
    </section>
    <script>
        window.totalTrades = {{ total_trades|safe }}
        window.trades = {{ cumulative_data|safe }}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'script.js' %}"></script>

{% endblock content %}