<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'forexJournal/login2.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  crossorigin="anonymous">


</head>
<body>
    <main>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% if signup_form.non_field_errors %}
                        <div style="color: red;">
                            <ul>
                                {% for error in signup_form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <h1>Create Account</h1> 
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>or use your account</span>
                    <div class="grid-display">
                        <div class="infield item">
                            {{ signup_form.first_name }}
                            <label></label>
                        </div>
                        <div class="infield item">
                            {{ signup_form.last_name }}
                            <label></label>
                        </div>
                        <div class="infield item">
                            {{ signup_form.username }}
                            {% if signup_form.username.errors %}
                                <ul class="errorlist">
                                    {% for error in signup_form.username.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <label></label>
                        </div>
                        <div class="infield item">
                            {{ signup_form.email }}
                            {% if signup_form.email.errors %}
                                <ul class="errorlist">
                                    {% for error in signup_form.email.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <label></label>
                        </div>
                        <div class="infield item">
                            {{ signup_form.password1 }}
                            {% if signup_form.passsword1.errors %}
                                <ul class="errorlist">
                                    {% for error in signup_form.password1.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <label></label>
                        </div>
                        <div class="infield item">
                            {{ signup_form.password2 }}
                            {% if signup_form.passsword2.errors %}
                                <ul class="errorlist">
                                    {% for error in signup_form.password2.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <label></label>
                        </div>
                    </div>
                    <button type="submit" name="signup">Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% if login_form.non_field_errors %}
                        <div style="color: red;">
                            <ul>
                                {% for error in login_form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <h1>Sign In</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>or use your email for registration</span>
                    <div class="infield">
                        {{ login_form.username }}
                        {% if login_form.username.errors %}
                            <ul class="errorlist">
                                {% for error in login_form.username.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <label></label>
                    </div>
                    <div class="infield">
                        {{ login_form.password }}
                        <label></label>
                        {% if login_form.password.errors %}
                            <ul class="errorlist">
                                {% for error in login_form.password.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <a href="" class="forgot">Forgot your password</a>
                    <button type="submit" name="login">LOGIN</button>
                </form>
            </div>
    
            <div class="overlay-container" id="overlayCon">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Hello, Friend</h1>
                        <p>Enter your personal details and start a journey with us</p>
                        <button>Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Welcome Back</h1>
                        <p>To keep connected with us please login with your personal details</p>
                        <button>Sign Up</button>
                    </div>
                </div>
                <button id="overlayBtn"></button>
            </div>
        </div>   
        {% comment %} <div class="wrapper">
            <span class="bg1"></span>
            <div class="form-wrapper login">
                <h1 class="title">Login</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="input-box">
                        {{ login_form.username }}
                        <label for="">Username</label>
                        <i class="fas fa-user"></i>
                        {% for error in login_form.username.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="input-box">
                        {{ login_form.password }}
                        <label for="">Password</label>
                        <i class="fas fa-lock"></i>
                        {% for error in login_form.password.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <button class="btn" type="submit" name="login">Login</button>
                    <div class="link">
                        <p>Don't have an account? <a href="#" class="signup-link">SignUp</a></p>
                    </div>
                </form>

            </div>
            <div class="info-wrapper login">
                <h2>Welcome Back</h2>
                <p>Login into your account to access our services</p>
            </div>

            <span class="bg2"></span>
            <div class="form-wrapper register">
                <h1 class="title">Register</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="step" id="step-1">
                        <div class="input-box">
                            {{ signup_form.first_name }}
                            <label>First Name</label>
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="input-box">
                            {{ signup_form.last_name }}
                            <label>Last Name</label>
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="input-box">
                            {{ signup_form.email }}
                            <label>Email</label>
                            <i class="fas fa-envelope"></i>
                        </div>
                        <button type="button" class="btn" onclick="nextStep()">Next</button>
                    </div>
                    
                    <!-- Step 2: Account Information -->
                    <div class="step" id="step-2" style="display: none;">
                        <div class="input-box">
                            {{ signup_form.username }}
                            <label>Username</label>
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="input-box">
                            {{ signup_form.password1 }}
                            <label>Password</label>
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="input-box">
                            {{ signup_form.password2 }} 
                            <label>Confirm Password</label>
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="btns-move">
                            <button type="button" class="btn" onclick="previousStep()">Previous</button>
                            <button type="submit" class="btn" name="signup">Submit</button>
                        </div>
                    </div>
                    <div class="link">
                        <p>Already have an account? <a href="#" class="login-link">LogIn</a></p>
                    </div>
                </form>

            </div>
            <div class="info-wrapper register">
                <h2>Welcome!</h2>
                <p>Create your account to access our services</p>
            </div>
        </div> {% endcomment %}
    </main>
    {% comment %} <script src="{% static 'login2.js' %}"></script> {% endcomment %}
    <script>
        const container = document.getElementById("container")
        const overlayCon = document.getElementById("overlayCon")
        const overlayBtn = document.getElementById("overlayBtn")

        overlayBtn.addEventListener("click", ()=> {
            container.classList.toggle("right-panel-active")

            overlayBtn.classList.remove("btnScaled")
            window.requestAnimationFrame( ()=> {
                overlayBtn.classList.add("btnScaled")
            })
        })
    </script>
</body>
</html>