{% extends "base.html" %}

{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'forexJournal/reports.css' %}">
{% endblock css_files %}

{% block title %}Reports{% endblock title %}
{% block content %}
    <main>
        <div class="container">
            <div class="navigation-container">
                <h2 class="active">General Reports</h2>
                <h2>Compare Strategies</h2>
            </div>
            <div class="filter-container">
                <div class="filter-container-items">
                    <h3>Filter By: </h3>
                    <button>Days</button>
                    <button>Months</button>
                    <button>Time</button>
                    <button>Trade duration</button>
                    <button>Assets</button>
                    <button>Strategies</button>
                </div>
            </div>
            <div class="first-charts-container">
                <div class="line-chart">
                    <h3>Top 3 Performing Assets</h3>
                    <canvas id="lineChart"></canvas>
                </div>
                <div class="doughnut-win-rate">
                    <h3>The Win-rate doughnut chart</h3>
                    <canvas id="winRate-doughnut"></canvas>
                </div>
            </div>
            <div class="second-charts-container">
                <div class="bar-chart-one">
                    <h3>Trade by Distribution</h3>
                    <canvas id="trade-distribution"></canvas>
                </div>
                <div class="bar-chart-two">
                    <h3>Trade by Performance</h3>
                    <canvas id="trade-performance"></canvas>
                </div>
            </div>
            <div class="big-table">
                <div class="theory-container-one">
                    <div class="theory-detail-row">
                        <div class="theory-property">Total Pnl</div>
                        <div class="theory-value">{{total_pnl}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Average-daily Volume</div>
                        <div class="theory-value">{{average_daily_volume}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Average Winning Trade</div>
                        <div class="theory-value">{{average_winning_trade}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Average Losing Trade</div>
                        <div class="theory-value">{{average_losing_trade}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Total number of trades</div>
                        <div class="theory-value">{{total_trades}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Number of Winning Trades</div>
                        <div class="theory-value">{{winning_trades}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Number of Losing Trades</div>
                        <div class="theory-value">{{losing_trades}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Number of break even trades</div>
                        <div class="theory-value">{{break_even}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Max Consecutive Wins</div>
                        <div class="theory-value">{{max_consecutive_wins}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Max Consecutive Loss</div>
                        <div class="theory-value">{{max_consecutive_loss}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Total Commisions</div>
                        <div class="theory-value">{{commisions}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Total fees</div>
                        <div class="theory-value">{{total_fees}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Total Swap</div>
                        <div class="theory-value">{{swap}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Largest Profit</div>
                        <div class="theory-value">{{largest_profit}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Largest Loss</div>
                        <div class="theory-value">{{largest_loss}}</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Average Hold Time(All trades)</div>
                        <div class="theory-value">{{average_hold_hours}}hrs {{average_hold_minutes}}mins {{average_hold_seconds}}secs</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Average Hold time(Winning Trades)</div>
                        <div class="theory-value">{{average_win_hours}}hrs {{average_win_minutes}}mins {{average_win_seconds}}secs</div>
                    </div>
                </div>
                <div class="theory-container-two">
                    <div class="theory-detail-row">
                        <div class="theory-property">Average Hold time(Losing trades)</div>
                        <div class="theory-value">40 minutes</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Average Hold Time(Scratch trades)</div>
                        <div class="theory-value">N/A</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Average PnL</div>
                        <div class="theory-value">$2,285.00</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Profit factor</div>
                        <div class="theory-value">1.4</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Total trading days</div>
                        <div class="theory-value">78</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Number of Winning days</div>
                        <div class="theory-value">55</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Number of Losing days</div>
                        <div class="theory-value">23</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Number of break even days</div>
                        <div class="theory-value">0</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Max Consecutive Winning days</div>
                        <div class="theory-value">7</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Max Consecutive Losing days</div>
                        <div class="theory-value">3</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Average Daily Pnl</div>
                        <div class="theory-value">$595.26</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Largest losing day(losses)</div>
                        <div class="theory-value">3</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Average Planned R multiple</div>
                        <div class="theory-value">45.3</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Average Realized R multiple</div>
                        <div class="theory-value">38.7</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Trade Expectancy</div>
                        <div class="theory-value">$72.52</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Average Hold Time(All trades)</div>
                        <div class="theory-value">N/A</div>
                    </div>
                    <div class="theory-detail-row">
                        <div class="theory-property">Average Hold time(Winning Trades)</div>
                        <div class="theory-value">25 minutes</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        window.winRate = {{ win_rate|safe }}
        window.distribution = {{trade_distribution|safe}}
        window.profit = {{trade_profit|safe}}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'reports.js' %}"></script>
{% endblock content %}