{% extends "base.html" %}
{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'forexJournal/strategy-report.css' %}">
{% endblock css_files %}

{% block title %}Strategy-Reports{% endblock title %}

{% block content %}
    <main>
        <h1>Strategy Performance dashboard</h1>
        <div class="container">
            <div class="elements">
                <h1>{{ name }}</h1>
                <div class="property-row">
                    <div class="property">Profit/loss</div>
                    <div class="value">{{ pnl }}</div>
                </div>
                <div class="property-row">
                    <div class="property">Average Profit</div>
                    <div class="value">{{ avg_profit }}</div>
                </div>
                <div class="property-row">
                    <div class="property">Average loss</div>
                    <div class="value">{{ avg_loss }}</div>
                </div>
                <div class="property-row">
                    <div class="property">Largest Win</div>
                    <div class="value">{{ largest_profit}}</div>
                </div>
                <div class="property-row">
                    <div class="property">Largest loss</div>
                    <div class="value">{{ largest_loss }}</div>
                </div>
                <div class="property-row">
                    <div class="property">Maximum Consecutive Wins</div>
                    <div class="value">{{ max_con_wins }}</div>
                </div>
                <div class="property-row">
                    <div class="property">Maximum Consecutive loss</div>
                    <div class="value">{{ max_con_loss }}</div>
                </div>
                <div class="property-row">
                    <div class="property">Win Rate</div>
                    <div class="value">{{ win_rate}}%</div>
                </div>
                <div class="property-row">
                    <div class="property">Total R Multiple</div>
                    <div class="value">{{ total_rr }}</div>
                </div>
                <div class="property-row">
                    <div class="property">Expectancy per rade</div>
                    <div class="value">{{ trade_expectancy }}</div>
                </div>
                <div class="property-row">
                    <div class="property">Buys</div>
                    <div class="value">{{ buys }}</div>
                </div>
                <div class="property-row">
                    <div class="property">Sells</div>
                    <div class="value">{{ sells }}</div>
                </div>
                <div class="property-row">
                    <div class="property">Average trade Duration</div>
                    <div class="value">{{ average_duration }}</div>
                </div>
                <div class="property-row">
                    <div class="property">Most traded pair</div>
                    <div class="value">{{ most_traded }} ({{ pair_count }})</div>
                </div>
                <div class="property-row">
                    <div class="property">Most Profitable pair</div>
                    <div class="value">{{ most_profitable }}</div>
                </div>
                <div class="property-row">
                    <div class="property">Most profitable day</div>
                    <div class="value">{{ most_profitable_day}}</div>
                </div>
                <div class="property-row">
                    <div class="property">Most losing day</div>
                    <div class="value">{{ most_losing_day}}</div>
                </div>
                <div class="property-row">
                    <div class="property">Most Profitable session</div>
                    <div class="value">London Session</div>
                </div>
            </div>
            <div class="charts">
                <div class="f-doughnut-container">
                    <h2>Trade Performance</h2>
                    <div class="flex-items">
                        <canvas class="first-doughnut doughnut"></canvas>
                        <div class="labels">
                            <h3><span class="dotwin"></span>Wins</h3>
                            <h3><span class="dotloss"></span>Losses</h3>
                        </div>
                    </div>
                </div> 
                <div class="s-doughnut-container">
                    <h2>Long vs Short</h2>
                    <div class="flex-items">
                        <canvas class="second-doughnut doughnut"></canvas>
                        <div class="labels">
                            <h3><span class="dotwin"></span>Long</h3>
                            <h3><span class="dotloss"></span>Short</h3>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="bar-chart">
                <h2>Total Pnl by currency pairs </h2>
                <canvas class="bar-canvas"></canvas>
            </div>
        </div>
        <div class="line-chart">
            <h2>Strategy performance overtime</h2>
            <canvas class="canvas-line-chart"></canvas>
        </div>
        <div class="table">
            <table>
                <tr>
                    <th>Instrument</th>
                    <th>Date</th>
                    <th>Order type</th>
                    <th>Lot size</th>
                    <th>Entry Price</th>
                    <th>Close Price</th>
                    <th>Stop loss</th>
                    <th>Take Profit</th>
                    <th>Profit/loss</th>
                    <th>Risk Reward ratio</th>
                    <th>Strategy</th>
                </tr>
                {% for trade in all_trades%}
                    <tr>
                        <td>{{ trade.symbol }}</td>
                        <td>{{ trade.opening_time|date:"Y-m-d" }}</td>
                        <td>{{ trade.order_type}}</td>
                        <td>{{ trade.lot_size}}</td>
                        <td>{{ trade.opening_price}}</td>
                        <td>{{ trade.closing_price}}</td>
                        <td>{{ trade.stop_loss_value }}</td>
                        <td>{{ trade.profit_target }}</td>
                        <td>{{ trade.profit_usd }}</td>
                        <td>{{ trade.planned_R_Multiple}}</td>
                        <td>{{ trade.strategy.strategy_name}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </main>
    
    <script>
        window.totalTrades = {{ trades_total|safe}};
        window.profitableTrades = {{ profitable_trades|safe}}
        window.losingTrades = {{ losing_trades|safe}}
        window.TradeData = {{ trade_data|safe }}
        window.symbolData = {{ bar_chart_symbols|safe }}
        window.symbolValues = {{ bar_chart_values|safe }}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'strategy-report.js' %}"></script>
{% endblock content %}