{% extends "base.html" %}
{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'forexJournal/strategy-report.css' %}">
{% endblock css_files %}

{% block title %}Strategy-Reports{% endblock title %}

{% block content %}
    <main>
        <div class="container">
            <h1>Strategy Performance dashboard</h1>
            <div class="elements">
                <h1>Strategy Name</h1>
                <div class="property-row">
                    <div class="property">Profit/loss</div>
                    <div class="value">$14,000.00</div>
                </div>
                <div class="property-row">
                    <div class="property">Average Win</div>
                    <div class="value">$3,000.00</div>
                </div>
                <div class="property-row">
                    <div class="property">Average loss</div>
                    <div class="value">$1005.72</div>
                </div>
                <div class="property-row">
                    <div class="property">Largest Win</div>
                    <div class="value">$8,000.00</div>
                </div>
                <div class="property-row">
                    <div class="property">Largest loss</div>
                    <div class="value">$800.00</div>
                </div>
                <div class="property-row">
                    <div class="property">Maximum Consecutive Wins</div>
                    <div class="value">5</div>
                </div>
                <div class="property-row">
                    <div class="property">Maximum Consecutive loss</div>
                    <div class="value">3</div>
                </div>
                <div class="property-row">
                    <div class="property">Win Rate</div>
                    <div class="value">84%</div>
                </div>
                <div class="property-row">
                    <div class="property">Total R Multiple</div>
                    <div class="value">15.7</div>
                </div>
                <div class="property-row">
                    <div class="property">Expectancy per rade</div>
                    <div class="value">$5.32</div>
                </div>
                <div class="property-row">
                    <div class="property">Buys</div>
                    <div class="value">8</div>
                </div>
                <div class="property-row">
                    <div class="property">Sells</div>
                    <div class="value">10</div>
                </div>
                <div class="property-row">
                    <div class="property">Average duration of a trade</div>
                    <div class="value">2 hours 15 mins</div>
                </div>
                <div class="property-row">
                    <div class="property">Most traded pair</div>
                    <div class="value">GBPUSD</div>
                </div>
                <div class="property-row">
                    <div class="property">Most Profitable pair</div>
                    <div class="value">XAUUSD</div>
                </div>
                <div class="property-row">
                    <div class="property">Most profitable day</div>
                    <div class="value">Wednesdays</div>
                </div>
                <div class="property-row">
                    <div class="property">Most losing day</div>
                    <div class="value">Friday</div>
                </div>
                <div class="property-row">
                    <div class="property">Most Profitable session</div>
                    <div class="value">London Session</div>
                </div>
            </div>
            <div class="charts">
                <canvas class="first-doughnut doughnut"></canvas>
                <canvas class="second-doughnut doughnut"></canvas>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'strategy-report.js' %}"></script>
{% endblock content %}