body{
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.account-top-items{
    display: flex;
    justify-content: space-between;
}

.initial-setter{
    display: inline-block;
}

.vertical-dots {
    margin-top: 0.2rem;
    font-size: 24px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    writing-mode: vertical-rl;
    text-align: center;
    line-height: 1.2; 
    height: 40px;
}


.dropdown-menu {
    display: none; /* Initially hidden */
    position: absolute;
    top: 15%;
    right: 59%;
    background: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}

.menu-item {
    background-color: transparent;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: #182739;
}

.menu-item:hover {
    background-color: var(--divBack);
}


.balance-modal{
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    background: white;
    height: 30%;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
    border-radius: 5px;
    z-index: 20;
    background: rgb(222, 253, 222);
}

.balance-modal form{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.balance-modal h2{
    /* margin-left: 4rem; */
    text-align: center;
}
.balance-modal button{
    width: 10rem;
    margin: auto;
    height: 3rem;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(48, 243, 48);
    box-shadow:  4px 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
}

.balance-modal input{
    width: 70%;
    height: 2.5rem;
    /* outline: none; */
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    margin: auto;
    font-size: 1.1rem;
}

.overview{
    display: flex;
    justify-content: space-between;
    margin-top: -1rem;
    align-items: center;
    height: 5rem;
    color: #182739;
}

.btnAdd{
    height: 2.2rem;
    background: #336496;
    text-align: center;
    border-radius: 8px;
    font-size: 12px;
    outline: none;
    border: none;
}

.overview h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: #182739;
}

.hidden{
    display: none;
}

.modal{
    position: absolute;
    top: 21%;
    left: 25%;
    width: 50%;
    background: white;
    height: 60%;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
    border-radius: 5px;
    z-index: 20;
    border: 2px solid var(--selectedColor);
}

.upload-area{
    border: 1px solid var(--selectedColor);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3364964e;
    margin-bottom: 30px;
    height: 5rem;
    margin-top: -1rem;
}

.custom-file-input {
    display: none; 
}

.custom-file-label {
    display: inline-block;
    cursor: pointer;
    color: var(--selectedColor);
    border: none;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.upload-area p{
    font-size: 1rem;
    margin-top: -0.1rem;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.modal-header button{
    height: 1.5rem;
    width: 1.5rem;
    color: black;
}

.modal-header h2{
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.import-url h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(8px); 
    z-index: 10;
}



#second-part{
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(30, 29, 29, 0.5);
    margin-left: -3rem;
    padding: 1rem;
}

.modal .buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;
    margin-left: 0.48rem;
}

.buttons button{
    padding: 1rem;
    background-color: #336496;
    color: white;
    border: 1px solid var(--selectedColor);
    border-radius: 5px;
}




#top-widgets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    
}

.account{
    background: var(--divBack);
    border-radius: 10px;
    padding-left: 0.5rem;
    background: #336496;
    color: #e7eef7;
}


.account h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: -0.2rem;
}

.account h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
    margin-top: -1rem;
}

.account span{
    color: rgb(8, 247, 8);
    font-weight: Bold;
}

.profit{
    background: #336496ca;
    border-radius: 10px;
    padding-left: 1rem;
    color: #e7eef7;
}

.profit h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: -0.2rem;
}

.profit h3{
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: -1rem;
}

.profit span{
    font-weight: bold;
    color: rgb(8, 247, 8);
}

.factor{
    background: #336496ca;
    border-radius: 10px;
    padding-left: 1rem;
    color: #e7eef7;
}

.factor h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: -0.2rem;
}

.factor h3{
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: -1rem;
}

.factor span{
    font-weight: 400;
    color: var(--selectedColor);
}
.trades{
    background: var(--divBack);
    border-radius: 10px;
    padding-left: 1rem;
    color: #e7eef7;
}

.trades h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: -0.2rem;
}

.trades h3{
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: -1rem;
}

.winRate h3{
    font-weight: 400;
    font-size: 0.9rem;
}

.trades span{
    font-weight: 400;
    color: var(--selectedColor);
}


#second-widgets{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
    margin-top: 15px;
}

.chart{
    grid-row: span 2;
    background: var(--divBack);
    border-radius: 5px;
    padding-left: 0.5rem;
    background: #adcdeb;
}

.profitable img{
    margin-right: 2rem;
    object-fit: cover;
    object-position: top;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2a517a93;
}


.profitable{
    background: var(--divBack);
    padding-left: 1rem;
    border-radius: 10px;
}


.head{
    display: flex;
    align-items: center;
    color: #e7eef7;
}

.head p{
    margin-left: -1.5rem;
}

.profitable h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 0.2rem;
    color: #e7eef7;
}

.profitable h3{
    margin-top: -1rem;
    font-size: 0.8rem;
    color: #e7eef7;
}

.profitable span{
    color: red;
}


.win span{
    color: var(--selectedColor);
}

.charts{
    grid-column: span 2;
    background: transparent;
    border-radius: 5px;
    padding-left: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: #375c8492;
}


.charts-container{
    width: 14rem;
    height: 16rem;  
    margin-left: 1rem;
}

.charts-container h2{
    padding-top: 5rem;
}

.child{
    display: grid;
    grid-template-columns: 1fr 3fr;

}


.charts h2{
    margin-left: 4rem;
    margin-top: 6rem;
    height: 9rem;
}

.items{
    margin-top: 1rem;
    margin-left: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 80%;
    column-gap: 3px;
    row-gap: 0;
    color: #243b55;
}


.items h3{
    font-size: 1rem;
}
.spec p{
    margin-top: -1rem;
    padding-left: 1rem;
    font-size: 1rem;
}


.dot {
    content: '';
    width: 10px; 
    height: 10px; 
    background-color: #243b55;
    border-radius: 50%; 
    display: inline-block;
    margin-right: 8px; 
}
.dot2 {
    content: '';
    width: 10px; 
    height: 10px; 
    background-color: #264666;
    border-radius: 50%; 
    display: inline-block;
    margin-right: 8px; 
}
.dot3 {
    content: '';
    width: 10px; 
    height: 10px; 
    background-color: #2a517a; 
    border-radius: 50%; 
    display: inline-block;
    margin-right: 8px; 
}
.dot4 {
    content: '';
    width: 10px; 
    height: 10px; 
    background-color: #336496; 
    border-radius: 50%; 
    display: inline-block;
    margin-right: 8px; 
}
.dot5 {
    content: '';
    width: 10px; 
    height: 10px; 
    background-color: #447eb3; 
    border-radius: 50%; 
    display: inline-block;
    margin-right: 8px; 
}

.dot6{
    content: '';
    width: 10px; 
    height: 10px; 
    background-color: #689bc8; 
    border-radius: 50%; 
    display: inline-block;
    margin-right: 8px; 
}


.header{
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    color: #243b55;
}


.heading{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    margin-right: 2rem;
    justify-content: space-between;
    color: #e7eef7;
}

.heading img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: top;
    background: #2a517a;
    border-radius: 5px;
}

.line {
    border-bottom: 0.5px solid rgb(255, 255, 255, 0.5); 
    width: 40%; 
    margin-left: 20.5rem;
    margin-top: 1.5rem;
  }
  

.text p{
    height: fit-content;
    margin-bottom: -1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #243b55;
}

.text h2{
    height: fit-content;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #243b55;
}

.header h1{
    font-size: 1.5rem;
    margin-top: 4rem;
    font-family: "Roboto", sans-serif;
}


::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: #e7ffd1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#39ff2b, #ff2222);
    border-radius: 10px;
}
  

@media (max-width: 768px) {
    .overview h1 {
        font-size: 1.5rem; /* Smaller heading on small screens */
    }

    .modal {
        width: 90%; /* Wider modal on small screens */
        padding: 1rem; /* Less padding */
    }

    .btnAdd {
        width: 100%; /* Full width button */
    }

    #top-widgets {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
    }
}

@media (max-width: 480px) {
    .modal {
        width: 95%; /* Even wider modal on very small screens */
    }

    .upload-area {
        padding: 10px; /* Less padding */
    }

    .text p, .text h2 {
        font-size: 1rem; /* Smaller text */
    }
}


.broker-label{
    font-size: 1.3rem;
}
.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 40%;
    margin-bottom: 3rem;
  }
  
  #broker {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f9f9f9;
    height: 1.6rem;
    margin-left: 1rem;
  }
  
  #broker:focus {
    outline: none;
  }
  
  .dropdown-button {
    position: absolute;
    right: 2px;
    width: 18%;
    left: 19.5rem;
    height: 2.5rem;
    top: 5px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: var(--selectedColor);
  }
  
  .dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-left: 1rem;
    background-color: #f5fdeb;
    border: 1px solid #ccc;
    z-index: 10;
  }
  
  .dropdown-content .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}
  
  .dropdown-content .dropdown-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .dropdown-content .dropdown-item:hover {
    background-color: #dbfdb6;
  }
  
  /* Show dropdown on button click */
  .custom-dropdown.open .dropdown-content {
    display: block;
  }
  