.main-content{
    width: 80vw;
    margin-left: 10rem;
    padding: 0rem 2rem 0rem ;
    border-left: 1px solid rgba(30, 29, 29, 0.5);
}

#first-part{
    position: fixed;
}



.trade{
    height: 7rem;
    padding: 0.7rem;
    border: 0.5px solid #182739;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease;
    background: #9cbddd;
    color: #232425;
}

.trade:hover{
    transform: scale(1.02);
}

.heads{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.5rem;
}

.heads button{
    padding: 0.3rem;
    background: rgb(195, 233, 170);
    border-radius: 5px;
    background: #243b55;
    color: #e7eef7;
}

.heads h2{
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}


.values .first{
    font-size: 2rem;
    margin-top: 0.2rem;
}

.first span{
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.second{
    margin-top: -2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
}

.third{
    margin-top: -0.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
}

.bar{
    height: 100%;
    width: 0.4rem;
    background: greenyellow;
    border-radius: 15px;
}

.items{
    width: 97%;
    margin-left: 1rem;
}

.list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    margin-left: -2.5rem;
    margin-top: 4rem;
    list-style: none;
}



::-webkit-scrollbar{
    width: 8px;
    padding: 3px;
}

::-webkit-scrollbar-track{
    background: #cbdcec;
    border-radius: 10px;
    width: 10px;
    padding: 3px;
}

::-webkit-scrollbar-thumb{
    background: #182739;
    border-radius: 10px;
    width: 8px;
    padding: 3px;
}