:root{
    --main-color:#000101;
    --divBack: #336496ca;
    --selectedColor: #182739;
    --selectedColor2: #efef05;
    --somecolor: #689bc855;
}

body{
    color: #182739;
    background: #9cbddd53;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.8fr 4fr ;
}

#first-part{
    width: 10rem;
    height: 100vh;
}

#profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#profile img{
    margin-right: 2rem;
    object-fit: cover;
    object-position: top;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--selectedColor);
}

#profile h2{
    font-size: 1rem;
    margin-left: -1.5rem;
    color: #182739;
}



#first-part ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



#first-part a{
    text-decoration: none;
    color: #336496;
    font-size: 1rem;
    margin-left: -1.5rem;
}

li .active{
    border: 1px solid black;
    background: var(--selectedColor);
    padding: 0.5rem;
    border-radius: 5px;
}

#first-part ul a:hover{
    border: 1px solid black;
    background: var(--selectedColor);
    padding: 0.5rem;
    border-radius: 5px;  
    transform: scale(1.05); /* Slightly enlarge the link */
    transition: all 0.5s ease;  
    color: #e7eef7; 
}
