{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_files %}{% endblock  %}
    <title>{% block title%}{% endblock %}</title>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section id="first-part">
        <div id="profile">
            <img src="{% static 'forexJournal/images/myimage.png' %}" alt="Profile">
            <h2>Prince Adams</h2>
        </div>
        <button type="button" class="new-trade">Sync Metatrader</button>
        <div class="hidden sync-modal">
            <div class="close">&times;</div>
            <form action=" {% url "sync" %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="MT5 login" name="mt5_login" required>
                <input type="password" placeholder="Password" name="mt5_password" required>
                <input type="text" placeholder="Server" name="mt5_server" required>
                <button type="submit">Connect to MT5</button>
            </form>
        </div>
        <div class="modal-overlay hidden"></div>
        <ul>
            <li class="try"><a href="{% url "forex" %}" class="active" id="dashboard">Dashboard</a></li>
            <li><a href="{% url "All_trades" %}" id="all_trades" class="active">All trades</a></li>
            <li><a href="{% url "journal" %}" id="journalss" class="active">Journal</a></li>
            <li><a href="{% url "playBook" %}" id="Play_book" class="active">Play-book</a></li>
            <li><a href="{% url "reports" %}" id="reports" class="active">Reports</a></li>
            <li><a href="{% url "rules" %}" id="rules" class="active">Rules</a></li>
            <li><a href="{% url "backtest" %}" id="backtest" class="active">Backtest strategy</a></li>
        </ul>
    </section>
    {% block content %}

    {% endblock  %}
    <script src="{% static 'base.js' %}"></script>
</body>
</html>